.mainNode {
  /* border: 3px solid rgb(0, 255, 13); */
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0px 50px 50px;
}

.mainNode > .Paper {
  font-size: 20px;
}

.mainNode > .Paper > p {
  font-size: large;
}

.childNode {
  /* border: 3px solid rgb(60, 138, 64); */
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0px 50px 0px;
}

.childGrid {
  /* border: 3px solid rgb(255, 0, 179); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nodeGrid {
  /* border: 3px solid rgb(255, 251, 0); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
