.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 1;
  width: fit-content;
  min-width: 99%;

  /* border: 1px solid rgb(255, 0, 0); */
  padding: 100px 0px 100px;
}

.layer {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  display: flex;
  /* border: 1px solid rgb(0, 4, 255); */
  padding: 10px;
}
