.container {
  /* border: 1px solid rgb(255, 0, 0); */
  flex: 1;
  padding: 50px;
  display: flex;
  flex-flow: column;
  height: 90%;
}

.layer {
  /* border: 1px solid rgb(0, 4, 255); */
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
