body,
ul {
  margin: 0;
  padding: 0;
}

.mainBody {
  position: absolute;
  top: 80px;
  bottom: 0px;
  width: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 1;
  height: fit-content;

  border: 1px solid rgb(0, 255, 34);
}
